// SSR Bug at ClientOnly component

<template>
	<div class="flex flex-row gap-2 items-center">
		<label>{{ label }}</label>
		<select
			:class="skeleton"
			class="border border-gray-400 rounded-full w-24 py-1 px-2"
			disabled
		></select>
	</div>
</template>

<script setup lang="ts">
const { skeleton } = useTailwindClasses()
const { label } = defineProps<{
	label: string
}>()
</script>
