<template>
	<div class="flex flex-row gap-4 flex-wrap justify-end text-right">
		<IdeasFilterInput
			v-for="filter in filterData"
			:key="filter.name"
			:label="filter.label"
			:selectOptions="filter.selectOptions"
			:name="(filter.name as keyof IFilter)"
		/>
	</div>
</template>

<script setup lang="ts">
import filterData from "~/data/filterData"
import type { IFilter } from "~/types/Filter"
</script>
