<template>
	<div class="flex flex-row gap-2 items-center">
		<label :for="name">{{ label }}</label>
		<select
			:id="name"
			:name="name"
			v-model="filterState[name]"
			class="border border-gray-400 rounded-full w-24 py-1 px-2"
		>
			<option
				v-for="selectOption in selectOptions"
				:value="selectOption.value"
				:key="selectOption.value"
			>
				{{ selectOption.name }}
			</option>
		</select>
	</div>
</template>

<script setup lang="ts">
import type { ISelectOption } from "~/types/SelectOption"
import type { IFilter } from "~/types/Filter"

const { label, name, selectOptions } = defineProps<{
	label: string
	name: keyof IFilter
	selectOptions: ISelectOption[]
}>()

const { filterState } = useFilterState()
</script>
