<template>
	<nav
		:class="[bgColor, showNavbar, transition]"
		class="fixed top-0 left-0 w-full h-16 z-40"
	>
		<div :class="container" class="flex justify-between items-center h-full">
			<Brand />
			<ul class="md:flex flex-row gap-8 hidden">
				<li v-for="navItem in navItemsData" :key="navItem.link">
					<NavbarLink :link="navItem.link" :name="navItem.name" />
				</li>
			</ul>
			<button class="md:hidden block invert" @click="handleOpen">
				<img src="~/assets/img/menu.svg" class="w-6 h-6" />
			</button>
		</div>
	</nav>
	<nav
		class="md:w-64 w-full fixed h-screen md:-right-64 -right-full bg-primary top-0 z-50"
		:class="[isOpen ? '-translate-x-64' : 'translate-x-0', transition]"
	>
		<ul class="w-fit p-4 flex flex-col gap-4">
			<li>
				<button @click="handleClose">
					<img src="~/assets/img/chevron-right.svg" class="w-5 h-5 invert" />
				</button>
			</li>
			<li v-for="navItem in navItemsData" :key="navItem.link">
				<NavbarLink :link="navItem.link" :name="navItem.name" />
			</li>
		</ul>
	</nav>
</template>

<script setup lang="ts">
const { container, transition } = useTailwindClasses()
const { y } = useWindowScroll()
const isShowNavbar = ref(true)
const currentYScroll = ref(y.value)
const isOpen = ref(false)
const { isBannerVisible } = useBannerVisibility()

const handleClose = () => {
	isOpen.value = false
}

const handleOpen = () => [(isOpen.value = true)]

watchEffect(() => {
	if (currentYScroll.value >= y.value) {
		isShowNavbar.value = true
	} else {
		isShowNavbar.value = false
	}
	currentYScroll.value = y.value
})

const bgBannerTop = computed(() =>
	isBannerVisible.value ? "bg-transparent" : "bg-primary"
)

const bgColor = computed(() =>
	y.value === 0 ? bgBannerTop.value : "bg-primary/60 backdrop-blur-sm"
)

const showNavbar = computed(() =>
	isShowNavbar.value ? "translate-y-0" : "-translate-y-16"
)

const navItemsData = [
	{
		link: "/work",
		name: "Work",
	},
	{
		link: "/about",
		name: "About",
	},
	{
		link: "/services",
		name: "Services",
	},
	{
		link: "/ideas",
		name: "Ideas",
	},
	{
		link: "/careers",
		name: "Careers",
	},
	{
		link: "/contact",
		name: "Contact",
	},
]
</script>
