<template>
	<NuxtLink
		:class="[transition, afterTransition, currentPathSelected]"
		:to="link"
		>{{ name }}</NuxtLink
	>
</template>

<script setup lang="ts">
import useTailwindClasses from "~/composables/useTailwindClasses"

const route = useRoute()
const { navLink, transition, afterTransition, clickedNavLink } =
	useTailwindClasses()

const { link, name } = defineProps<{
	link: string
	name: string
}>()

const currentPathSelected = computed(() =>
	route.path === link ? clickedNavLink : navLink
)
</script>
