<template>
	<section class="relative overflow-hidden w-full h-[600px]">
		<div
			class="absolute z-20 w-full h-2/3 flex flex-col justify-center items-center text-center gap-y-1"
		>
			<h1 class="text-5xl text-white font-normal">{{ title }}</h1>
			<p class="text-xl text-white font-normal">
				{{ description }}
			</p>
		</div>
		<div class="absolute bg-black/30 w-full h-full z-10" />
		<NuxtImg
			class="absolute w-full h-[150%] object-cover z-0 transition duration-0"
			:style="parallax"
			:src="img.url"
			:alt="img.alt"
		/>
		<div
			class="bg-white w-[300%] md:h-1/2 h-1/3 absolute -bottom-20 -rotate-6 -left-3/4 z-20"
		/>
	</section>
</template>

<script setup lang="ts">
const { img, title, description } = defineProps<{
	title: string
	description: string
	img: {
		url: string
		alt: string
	}
}>()

const { y } = useWindowScroll()
const { isBannerVisible } = useBannerVisibility()

onMounted(() => {
	isBannerVisible.value = true
})

onBeforeRouteLeave(() => {
	isBannerVisible.value = false
})

const parallax = computed(() => {
	return {
		transform: `translateY(${y.value / 2}px)`,
	}
})
</script>
