<template>
	<div class="p-4 lg:w-1/4 md:w-1/3 sm:w-1/2 w-full">
		<NuxtLink href="#">
			<div class="bg-white shadow-md rounded-lg w-full h-full overflow-hidden">
				<NuxtImg
					:src="img"
					:alt="title"
					loading="lazy"
					class="w-full aspect-video object-cover"
				/>
				<div class="p-4 flex flex-col gap-1 mt-4">
					<p class="text-gray-400 font-bold">
						{{ formatedDate }}
					</p>
					<h2 class="line-clamp-3 text-black font-bold font-lg">
						{{ title }}
					</h2>
				</div>
			</div>
		</NuxtLink>
	</div>
</template>

<script setup lang="ts">
import formatDate from "~/utils/formatDate"

const { img, title, publishedAt } = defineProps<{
	img: string
	title: string
	publishedAt: string
}>()

const formatedDate = computed(() => formatDate(new Date(publishedAt)))
</script>
