<template>
	<div class="w-[calc(100%+32px)] -ml-4 flex flex-row flex-wrap mt-4">
		<IdeasPostCard
			v-if="!pending && !error"
			v-for="post in postState.posts"
			:key="post?.id"
			:img="
				post?.medium_image[0]?.url ||
				post?.small_image[0]?.url ||
				'/img/noimg.jpg'
			"
			:publishedAt="post?.published_at"
			:title="post?.title"
		/>

		<div v-else class="w-full py-20 flex justify-center items-center">
			<img
				v-if="pending"
				src="~/assets/img/loading.svg"
				class="animate-spin w-16 h-16"
			/>
			<p v-else-if="error" class="font-medium text-lg">
				{{ (error.data as any)?.message || "Terjadi Kesalahan" }}
			</p>
		</div>
	</div>
</template>

<script setup lang="ts">
import type { IPostResponse } from "~/types/Post"

const { filterState } = useFilterState()
const { getPostData } = useFetchApi()
const { postState } = usePostState()
const { data, pending, error } = useAsyncData(
	"posts",
	() =>
		getPostData({
			pageNumber: postState.value.currentPageNumber,
			pageSize: filterState.value.showPerPage,
			sortBy: filterState.value.sortBy,
		}),
	{
		transform: (res) => {
			const { data, meta } = res as IPostResponse
			return {
				data,
				meta,
			}
		},
		watch: [filterState, postState],
		server: true,
	}
)
watchEffect(() => {
	postState.value.posts = (data.value as IPostResponse)?.data
	postState.value.total = (data.value as IPostResponse)?.meta?.total
})
</script>
