<template>
	<div class="flex flex-row gap-2 items-center py-4 mx-auto w-fit">
		<button
			class="w-6 h-6"
			:class="postState.currentPageNumber === 1 ? 'opacity-30' : ''"
			@click="moveToFirstPage"
		>
			<img src="~/assets/img/chevron-double-left.svg" class="w-full h-full" />
		</button>
		<button
			class="w-6 h-6"
			:class="postState.currentPageNumber === 1 ? 'opacity-30' : ''"
			@click="moveToPerviousPage"
		>
			<img src="~/assets/img/chevron-left.svg" class="w-full h-full" />
		</button>
		<template v-for="(item, index) in [...Array(maxShowedPage)]" :key="index">
			<button
				v-if="index + postState.currentPageNumber <= maxPage"
				class="w-8 h-8 rounded-lg hover:text-white hover:bg-primary hover:border-none transition duration-300"
				:class="
					index === 0 ? 'bg-primary text-white' : 'border border-gray-400'
				"
				@click="() => moveToSelectedPage(index)"
			>
				{{ postState.currentPageNumber + index }}
			</button>
		</template>
		<button
			class="w-6 h-6"
			:class="
				postState.currentPageNumber + maxShowedPage > maxPage
					? 'opacity-30'
					: ''
			"
			@click="moveToNextPage"
		>
			<img src="~/assets/img/chevron-right.svg" class="w-full h-full" />
		</button>
		<button
			class="w-6 h-6"
			:class="postState.currentPageNumber === maxPage ? 'opacity-30' : ''"
			@click="moveToLastPage"
		>
			<img src="~/assets/img/chevron-double-right.svg" class="w-full h-full" />
		</button>
	</div>
</template>

<script setup lang="ts">
const { filterState } = useFilterState()
const { postState } = usePostState()

const maxPage = computed(() =>
	Math.ceil(postState.value.total / filterState.value.showPerPage)
)
const maxShowedPage = 4

const moveToFirstPage = () => {
	postState.value.currentPageNumber = 1
}

const moveToLastPage = () => {
	postState.value.currentPageNumber = maxPage.value
}

const moveToNextPage = () => {
	if (postState.value.currentPageNumber + maxShowedPage <= maxPage.value) {
		postState.value.currentPageNumber += maxShowedPage
	}
}

const moveToPerviousPage = () => {
	if (postState.value.currentPageNumber > 1) {
		postState.value.currentPageNumber -= 1
	}
}

const moveToSelectedPage = (selectedPage: number) => {
	postState.value.currentPageNumber += selectedPage
}
</script>
