<template>
	<p>Showing {{ firstData }} - {{ lastData }} of {{ postState.total }}</p>
</template>

<script setup lang="ts">
const { filterState } = useFilterState()
const { postState } = usePostState()

const firstData = computed(
	() =>
		filterState.value.showPerPage * postState.value.currentPageNumber -
		(filterState.value.showPerPage - 1)
)

const lastData = computed(() =>
	filterState.value.showPerPage * postState.value.currentPageNumber >
	postState.value.total
		? postState.value.total
		: filterState.value.showPerPage * postState.value.currentPageNumber
)
</script>
