<template>
	<!-- <Banner
		:img="img.about"
		title="About"
		description="Where all our great things begin"
	/> -->
	<section :class="[container, navbarMargin]">About Example</section>
</template>

<script setup lang="ts">
const { container, navbarMargin } = useTailwindClasses()
</script>
