<template>
	<Banner
		:img="img.contact"
		title="Contact"
		description="Where all our great things begin"
	/>
</template>

<script setup lang="ts">
import img from "~/data/bannerImagesData"
</script>
