<template>
	<Banner
		:img="img.ideas"
		title="Ideas"
		description="Where all our great things begin"
	/>
	<section :class="container">
		<div class="flex flex-row justify-between">
			<IdeasShowingData />
			<IdeasFilter />
		</div>
		<IdeasPostList />
		<IdeasPostPagination />
	</section>
</template>

<script setup lang="ts">
import img from "~/data/bannerImagesData"

const { container } = useTailwindClasses()
</script>
