<template>
	<Banner
		:img="img.services"
		title="Services"
		description="Where all our great things begin"
	/>
</template>

<script setup lang="ts">
import img from "~/data/bannerImagesData"
</script>
